:host {
  display: block;
  position: fixed;
  top: 120px;
  width: 100%;
  height: calc(100vh - 120px);

  text-align: center;
}

@import "/src/app/components/shared/variables.scss";

@media (max-width: 750px){
  :host {
    height: calc(100vh - 60px);
    top: 60px;
  }
}
