<div class="about-wrapper">
  <div class="about-greeting">
    <div class="upper-text">
      Mehr als nur Wissensvermittlung
    </div>
    <div class="main-text">
      <div> INDIVIDUELL </div>
      <div class="pipe"> | </div>
      <div>PROFESSIONELL </div>
    </div>
    <div class="lower-text">
      Viele Kinder haben Probleme mit der Mathematik.
      Mein Ziel ist es mit Freude und Leidenschaft zu zeigen, dass Mathematik gar nicht
      so schwer ist und, einmal verstanden, sogar Spaß machen kann.
    </div>
    <div class="contact-btn-wrapper">
      <div class="contact-btn disabled" (click)="navigateToContact()"> Jetzt unverbindlich Kontakt aufnehmen </div>
    </div>
  </div>
  <div class="cards-wrapper">
    <div class="card">
      <div class="card-header"> Philosophie </div>
      <div class="card-body">
        <div class="card-body-text">
          <b> Stetiger Dialog </b> ist die Basis für eigenständiges Denken und <b>nachhaltiger Festigung von Strukturen und Wissen </b>.
        </div>

        <div class="card-body-text">
          Ein <b>beidseitig respektvoller Umgang und Kommunikation auf Augenhöhe</b> ist
          Grundvoraussetzung für eine gute Lernumgebung.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header"> Ziele und Prioritäten </div>
      <div class="card-body">

        <div class="card-body-text">
          Mein Unterricht ist darauf ausgerichtet,
          <b>nicht nur akute Schwierigkeiten</b> zu bewältigen,
          sondern eine <b>nachhaltige Lerngrundlage</b> zu schaffen.
        </div>

        <div class="card-body-text">
          Finales Ziel ist eine <b>Eigenverantwortlichkeit im Umgang mit mathematischen Aufgaben</b>
          und somit langfristiger Erfolg in ihrem schulischen Werdegang.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header"> Versprechen </div>
      <div class="card-body">
        <div class="card-body-text">
          <b>Individuelles Eingehen und Arbeiten</b> mit dem Schüler,
          Definieren von Zielen, sowie <b>kontinuierliche Kommunikation mit Eltern</b>
          über Fort- aber auch Rückschritte.
        </div>

        <div class="card-body-text">
          Die <b>Nachhilfestunde stellt einen Ort dar, in der sich Schüler sicher fühlen.</b> <br>
          Autoritäre Strukturen und Zwang sind bei mir deshalb Fehl am Platz.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="about-image" src="assets/gfx/home_background.png"> </div>
