@import "/src/app/components/shared/variables.scss";

:host {
  display: block;
  position: fixed;
  top: $header-height;
  width: 100%;
  height: calc(100vh - $header-height);
  background-color: $base-color-bg;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.about-wrapper::-webkit-scrollbar,
:host::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.about-wrapper, :host{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.about-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: max-content;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;

  z-index: 100;

  user-select: none;

  .about-greeting{
    color: $base-color;

    width: 100%;
    max-width: 1120px;
    margin: 0 auto;

    margin-top: 150px;

    font-size: 30px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;

    > div {
      max-width: 500px;
      width: 80%;
    }

    .upper-text {
      color: rgba($color:$base-color, $alpha: 0.5);
      font-size: 20px;

      margin-bottom: 10px;
    }

    .main-text{
      display: flex;
      flex-direction: row;
      .pipe {
        font-size: 34px;
        margin: 0 15px;
        margin-top: -6px;
      }

      margin-bottom: 10px;
    }

    .lower-text {
      font-size: 15px;
      text-align: justify;
      color: rgba($color:$base-color, $alpha: 0.8);

      line-height: 1.2rem;
    }

    .contact-btn-wrapper{
      margin-top: 20px;

      .contact-btn {
        width: fit-content;
        background-color: transparent;
        color: $base-color;
        outline: none;

        border-radius: 10px;

        font-weight: 600;
        font-size: 12px;
        transition: 0.1s;
      }

      .contact-btn:hover{
        color: $color-active-tab;
      }
    }
  }

  .cards-wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;

    display: flex;
    flex-direction: row;

    justify-content: center;

    .card {
      transition: 0.2s;
      width: calc(100% / 4);
      margin: 0 10px;
      padding: 25px 30px;
      border-radius: 7px;
      color: rgba($base-color, 0.7);
      font-size: 14px;
      font-weight: normal;

      background-color: rgba($base-color-bg, 0.9);

      b {
        color: rgba($base-color, 0.9);
      }

      .card-header{
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 15px;
        color: rgba($base-color, 0.9);
      }

      .card-body {
        .card-body-text{
          margin: 10px 0;
        }
      }
    }

    .card:hover {
      transition: 0.2s;
      background-color: rgba($base-color-bg, 1);
    }
  }
}

.about-image {
  position: fixed;

  width: 100%;
  height: 100svh;

  background: url("../../../assets/gfx/home_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;

  background-attachment: scroll;

  z-index: 1;

  opacity: 0.4;
}

@media (max-width: 1300px){
  .about-greeting{
    width: 100%;
    max-width: 100% !important;
    margin-top: 50px !important;
    align-items: center;
    > div {
      text-align: center !important;
    }

    .contact-btn-wrapper{
      display: flex;
      justify-content: center;
    }

    .main-text {
      flex-direction: column !important;
      align-items: center;

      .pipe {
        display: none;
      }
    }
  }

  .cards-wrapper{
    margin-top: 100px !important;
  }
}


@media (max-width: 950px){
  .cards-wrapper{
    flex-direction: column !important;
    align-items: center;
    margin-top: 30px !important;

    .card {
      width: 90% !important;
      max-width: 250px;
      min-height: 250px;
      margin: 1svh 0 !important;
    }
  }
}

/* Mobile version adjustments */
@media (max-width: 750px){
  :host {
    height: calc(100svh - $header-height-mobile);
    top: $header-height-mobile;
  }

  .about-greeting{
    margin-top: 40px !important;

    .upper-text {
      margin-bottom: 20px;
    }

    .lower-text {
      font-size: 14px !important;
      text-align: center !important;
    }
  }
}
