<header>
  <div class="logo">
    <img src="/assets/gfx/logo/logo_paulrichter_tutoring_white.png" alt="Logo">
  </div>

  <div class="nav-dropdown">
    <div class="nav-content" #navContent>
      <div class="nav-centered">
        <ul class="nav-tabs">
          <li class="nav-item">
            <a routerLink="/home" routerLinkActive="active">Startseite</a>
          </li>
          <li class="nav-item">
            <a routerLink="/calendar" routerLinkActive="active">Kalender</a>
          </li>
          <li class="nav-item">
            <a routerLink="/about" routerLinkActive="active">Über uns</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <input *ngIf="this.user == null" type="button" class="login-button" value="Login" (click)="openLoginModal()">

  <!--this is used for the dropdown for web-view (screen > 750px)-->
  <ul class="dropdown" #dropdown [class.user-present]="this.user">
    <li class="nav-item">
      <button class="nav-dropdown-btn" (click)="performDropdownClick()"> <i class="fa-solid fa-bars"> </i> </button>
      <div class="dropdown-content" #dropdownContent>
        <div class="dropdown-greeting">
          <i class="fa-solid fa-circle-user"></i> Hallo, {{this.user?.username}}
        </div>
        <div class="dropdown-menu-list">
          <a routerLink="/profile" routerLinkActive="active" (click)="hideFixedMenu()">
            <i class="fa-solid fa-user"></i>Mein Profil
          </a>
          <a routerLink="/" routerLinkActive="active" (click)="hideFixedMenu()">
            <i class="fa-solid fa-gear"></i>Einstellungen
          </a>
          <a (click)="logout()">
              <i class="fa-solid fa-right-from-bracket"></i>Logout
          </a>
        </div>
      </div>
    </li>
  </ul>

  <!-- this is used for the mobile-dropdown (header) view (screen <= 750px) -->
  <!-- TODO: Maybe rename for cleaner code -->
  <div class="fixed-nav-bg" (click)="performDropdownClick()" #fixedNavBackground> </div>
  <div class="fixed-dropdown-content" #fixedNavDropdown>
    <div class="bar"> </div>
    <div class="fixed-nav-content">
      <ul class="nav-tabs">
        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active" (click)="hideFixedMenu()">
            <i class="fa-solid fa-gear"> </i>Startseite
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/calendar" routerLinkActive="active" (click)="hideFixedMenu()">
            <i class="fa-solid fa-calendar"> </i>Kalender
          </a>
        </li>
        <li class="nav-item" (click)="hideFixedMenu()">
          <a routerLink="/about" routerLinkActive="active">
            <i class="fa-solid fa-circle-info"></i>Über uns
          </a>
        </li>
        <li *ngIf="!this.user" class="nav-item" (click)="hideFixedMenu()">
          <i class="fa-solid fa-user"> </i>
          <input type="button" class="fixed-login-button" value="Login" (click)="openLoginModal()">
        </li>
        <li *ngIf="this.user" class="nav-item" (click)="hideFixedMenu()">
          <a routerLink="/profile" routerLinkActive="active">
            <i class="fa-solid fa-user"> </i>Profil
          </a>
        </li>
        <li *ngIf="this.user" class="nav-item" (click)="hideFixedMenu()">
            <i class="fa-solid fa-right-from-bracket"></i>
            <input type="button" class="fixed-login-button" value="Logout" (click)="logout()">
        </li>
      </ul>
    </div>
  </div>
</header>
<app-login></app-login>
