@import "/src/app/components/shared/variables.scss";

header {
  background-color: $base-color-bg; /* Lighter background color */
  color: $base-color; /* Text color */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  height: $header-height;
}

.nav-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.nav-dropdown-btn{
  display: block;
  border: none;
  background-color: transparent;
  height: 100%;
  color: $base-color;
  font-size: 25px;
  width: 130px;
}

.nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.nav-centered {
  .nav-tabs {
    li{
      text-align: center;
    }
  }
}

.nav-tabs {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-item {
  margin: 0 15px;
  width: 33%;
  min-width: 120px;
}

.nav-item a {
  text-decoration: none;
  color: #f5f6fa; /* Tab text color */
  font-weight: 700;
}

.nav-item a.active {
  color: $color-active-tab; /* Active tab text color */
  font-weight: 700;
}

.logo {
  width: 130px;
}

.logo img {
  width: 80px; /* Adjust the logo size as needed */
}

.user-actions {
  justify-self: end;
}

.login-button {
  background-color: #474f61; /* Button background color */
  color: #fff;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 10px;
  min-width: 130px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
}

.user-actions .login-button:hover {
  background-color: #f5f6fa; /* Button background color on hover */
}

.fixed-dropdown-content, .fixed-nav-bg{
  display: none;
}

.dropdown{
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 130px;
  display: none;

  .dropdown-content {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: -500px;
    background-color: $base-color-bg;
    width: 500px;
    height: 100vh;
    z-index: 20;

    transition: margin-right 0.3s ease-in-out;

    .dropdown-greeting{
      height: $header-height;
      background-color: $dropdown-background;
      display: flex;
      justify-content: center;
      align-items: center;

      .fa-circle-user{
        font-size: 45px;
        margin-right: 20px;
      }
    }

    .dropdown-menu-list {
      margin-top: 10px;
      padding: 10px;
      a {
        display: block;
        border-radius: 5px;
        padding: 20px 25px;
        text-decoration: none;
        color: $base-color;
        text-align: left;

        i {
          margin-right: 10px;
          width: 30px;
        }
      }

      a:hover {
        background-color: $base-color-bg-secondary;
      }
    }
  }
}

.user-present{
  display: block !important;
}

.fixed-nav-bg {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.7;
  z-index: 10;
  background-color: $dropdown-background;
}

@media (max-width: 750px){
  header{
    height: $header-height-mobile;
  }

  .logo img {
    display: none;
  }

  .dropdown {
    display: block;

    .nav-item{
      display: flex;
      justify-content: right;
    }
  }

  .dropdown-content{
    position: relative;
    display: none;
  }

  .nav-dropdown {
    display: none
  }

  .nav-dropdown-btn{
    width: auto;
    margin-right: 10px;
  }

  .nav-content {
    display: none;
  }

  .login-button {
    display: none;
  }

  .fixed-dropdown-content{
    display: block;
    background-color: $base-color-bg-secondary;
    position: fixed;
    top: 100vh;
    left: 0;
    height: calc(100vh - 100px);
    width: 100%;
    z-index: 100;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-top: 30px;
    user-select: none;

    transition: top 0.3s;

    .bar{
      width: 40px;
      height: 5px;
      border-radius: 5px;
      background-color: $base-color;
      margin: 0 auto;
      margin-top: -5px;
      margin-bottom: 20px;
    }

    .nav-tabs {
      flex-direction: column;
      margin: 0;

      .nav-item {
        height: 60px;
        width: 100%;
        background-color: $base-color-bg-secondary;
        display: flex;
        align-items: center;
        padding: 0 40px;
        margin: 0;

        i {
          min-width: 45px;
        }

        a {
          font-weight: 600;
        }
      }
    }

    .fixed-login-button{
      color: $base-color;
      background-color: transparent;
      font: inherit;
      font-weight: 600;
      border: none;
      margin: 0;
      padding: 0;
    }
  }
}
