@import "/src/app/components/shared/variables.scss";

:host {
  display: block;
  position: fixed;
  top: $header-height;
  width: 100%;
  height: calc(100vh - $header-height);

  text-align: center;
}
