$base-color: #f5f6fa;
$base-color-bg: #2f3640;
$base-color-bg-secondary: #474f61;
$base-color-bg-light: #717fa0;

$color-active-tab: #d6664a;
$color-active-tab-dark:rgb(173, 64, 36);

$error-color: #dc3545;
$dropdown-background: rgb(27, 33, 43);
