

@import "/src/app/components/shared/variables.scss";

/* Hide scrollbar for Chrome, Safari and Opera */
.calendar-single-day-wrapper::-webkit-scrollbar,
:host::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.calendar-single-day-wrapper, :host{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.calendar-single-day-wrapper{
  display: block;
  z-index: 5;

  position: fixed;
  top: 100vh;
  left: 0;
  width: 100%;
  height: calc(100% - 200px);
  padding: 0;
  padding-bottom: 100px;
  background-color: white;


  user-select: none;
  overflow-y: scroll;

  font-family: 'Roboto', sans-serif;
}

.calendar-single-day{
  width: 100%;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;

  background-color: white;
}

.time-slots {
  border-collapse: collapse;
  margin: 0;
  width: 100%;

  display: flex;
  flex-direction: row;

  .time-table-column{
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .times-column {
    border: 1px solid rgba(204, 204, 204, 0.6);
    width: 70px;
  }

  .times-row{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }

  .time-slot {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
  }

  .events-column{
    width: calc(100% - 70px);
    border: 1px solid rgba(204, 204, 204, 0.6);
    border-left: none;
  }

  .events-row{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #ccc;
  }

  .events-row.hoverable:hover{
    background-color: rgba(#ccc,0.6);
  }

  .event-slot {
    height: 30px;

    .event{
      position: relative;
      width: calc(100% - 40px);
      display: flex;
      text-align: left;

      margin-left: 10px;
      border-radius: 5px;
      color: $base-color;

      .event-data{
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        background-color: $base-color-bg-light;
      }

      .event-data:hover{
        background-color: rgba($base-color-bg-light, 0.5);
      }
    }
  }

  .hour-has-event {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
  }

  .empty-event-slot{
    display: none;
  }

  .filled-event-slot{
    background-color: $base-color-bg-secondary;
  }
}

.calendar-selected-date-header {
  font-weight: 600;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  padding: 10px 20px;

  display: flex;
  justify-content: left;
  width: calc(100% - 42px);

  border: 1px solid rgba(204, 204, 204, 0.6);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: none;

  button {
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 13px;
    width: 25px;
    padding: 0;
    outline: none;
    margin-right: 15px;
  }
}

@media (max-width: 750px){
  .calendar-single-day-wrapper {
    height: calc(100svh - 130px);
    top: 100vh;


    transition: top 0.3s;
  }

  .calendar-single-day{
    width: 100%;
    padding: 0;
    margin: 0;

    .time-slots{
      margin: 0;
      width: calc(100%);
      padding: 0;
    }
  }

  .calendar-selected-date-header{
    border: none;
    width: calc(100% - 40px);
  }

}

button {
  border: none;
  background-color: transparent;
}
