<div class="calendar-single-day-wrapper" #calendarSingleDayWrapper>
  <!-- TODO: Choose next day from here / navigation -->
  <div class="calendar-single-day" *ngIf="this.selectedDate">
    <div class="calendar-selected-date-header">
      <button (click)="setSelectedDay(-1)"> <i class="fa-solid fa-chevron-left"></i> </button>
      <button (click)="setSelectedDay(1)"> <i class="fa-solid fa-chevron-right"></i> </button>
      <div> {{selectedDate.date.getDate()}}.{{selectedDate.date.getMonth()+1}}.{{selectedDate.date.getFullYear()}} </div>
    </div>
    <div class="time-slots">
      <div class="time-table-column times-column">
        <div *ngFor="let hourPerDay of selectedDate.hoursPerDay" class="time-table-row times-row">
          <div class="time-slot"> <div *ngIf="hourPerDay.dateTime.getMinutes() == 0"> {{ hourPerDay.dateTime.getHours() }}:00 </div> </div>
        </div>
      </div>
      <div class="time-table-column events-column">
        <div  *ngFor="let hourPerDay of selectedDate.hoursPerDay; let i = index"
              class="time-table-row events-row"
              [class.hoverable]="this.currentUser"
        >
          <div  class="event-slot"
                (click)="selectEvent(hourPerDay, true)"
          >
            <div *ngFor="let event of hourPerDay.events"
                class="event"
                [class.empty-event-slot]="event.id == null"
                [class.filled-event-slot]="event.id && event.id > 0"
                [style.height.px]="event.eventDuration - 10 + event.eventDuration/30"
                [style.marginTop.px]="5"
                (click)="selectEvent(hourPerDay)"
            >
              <app-event-details
                *ngIf="this.calendarService.checkIfPartOfPreviousEvent(i, selectedDate) == false
                && hourPerDay.showEvent == true
                && hourPerDay.events ? !(event.isAnonymousEvent) : false"
                [currentEvent]="event ? event : null"
                [currentEventDate]="hourPerDay"
                [currentCalendarDay]="selectedDate"
                (changeEventDetails)="changeEventDetails($event)"
              ></app-event-details>
              <div class="event-data" *ngIf="event && event.id">
                <div *ngIf="!(event.isAnonymousEvent)"
                style="height: 1rem; overflow: hidden; line-height: 1rem;"
                >
                  {{event.eventName}}
                  <div>
                    &nbsp; | &nbsp; {{calendarService.calculateTime(event.eventDate.dateTime, 0)}} Uhr -
                    {{calendarService.calculateTime(event.eventDate.dateTime, event.eventDuration)}} Uhr
                  </div>
                </div>
                <div *ngIf="event && event.isAnonymousEvent"
                      style="height: 1rem; overflow: hidden; line-height: 1rem;"
                >
                      Bereits blockiert
                </div>
              </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
