<div class="calendar-wrapper">
  <div class="calendar-actions">
    <div class="calendar-header-wrapper">
      <ul>
        <!-- (click)="changeCalendarDisplayMode('week')" -->
        <li #monthView (click)="this.setCalendarToMonthView()" class="active">
          <i class="fa-solid fa-calendar-days"></i>
          <span class="calendar-view-text"> Monat </span>
        </li>
        <li #weekView class="hidden">
          <i #weekView class="fa-solid fa-calendar-week disabled"></i>
          <span class="calendar-view-text"> Woche </span>
        </li>
        <li #dayView (click)="this.setCalendarToDayView()">
          <i class="fa-solid fa-calendar-day"></i>
          <span class="calendar-view-text"> Tag </span>
        </li>
        <li #todayView (click)="this.setCalendarToTodayView()">
          <i class="fa-solid fa-calendar-xmark"></i>
          <span class="calendar-view-text"> Heute </span>
        </li>
        <li #eventView (click)="this.setCalendarToEventView()">
          <i class="fa-regular fa-calendar"></i>
          <span class="calendar-view-text"> Events </span>
        </li>
      </ul>
    </div>

  </div>
  <div class="calendar" #calendar>
    <div class="calendar-month-actions">
      <button (click)="previousMonth()">
        <i class="fa-solid fa-chevron-up icon-previous-month"></i>
      </button>
      <button (click)="nextMonth()">
        <i class="fa-solid fa-chevron-down icon-next-month"></i>
      </button>
      <!-- TODO: Make this a dropdown selection -->
      <div>{{ getMonthName(currentMonth.month) }} {{ currentMonth.year }}</div>
    </div>
    <div class="calendar-weekdays">
      <div *ngFor="let day of weekDays" class="weekday"> <div> {{day}} </div> </div>
    </div>
    <div class="calendar-days">
      <!-- start with empty cells  to match the starting day of the month with weekday -->
      <div *ngFor="let cell of emptyCellsBefore" class="calendar-day outside-month">
        <div>{{ cell }}</div>
      </div>

      <div
        *ngFor="let day of calendarData!.calendarDays"
        class="calendar-day"
        [class.selected]="day.isSelected"
        [class.today]="day.isToday"
        [class.day-hoverable]="!day.isSelected && !day.isToday"
        (click)="selectDay(day)"
      >
        <div [class.has-event]="day.hasEvent"> {{ day.date.getDate() }}</div>
      </div>
      <div *ngFor="let cell of emptyCellsAfter" class="calendar-day outside-month">
        <div>{{ cell }}</div>
      </div>
    </div>
  </div>
</div>
<app-day-view
  #calendarSingleDayWrapper
  [selectedDate]="this.selectedDate"
  [currentUser]="this.currentUser"
  (setSelectedDayEmitter)="setSelectedDay($event)"
  (changeEventDetailsEmitter)="changeEventDetails($event)"
></app-day-view>
<app-event-view
  *ngIf="this.currentUser && this.selectedDate"
  #calendarEventViewWrapper
  [selectedDate]="this.selectedDate"
  [currentUser]="this.currentUser"
  (changeEventDetailsEmitter)="changeEventDetails($event)">
</app-event-view>
