<div class="calendar-wrapper">
  <div class="calendar-actions">
    <ul>
      <!-- (click)="changeCalendarDisplayMode('week')" -->
      <li (click)="changeCalendarDisplayMode('month')"> <i #monthView class="fa-regular fa-calendar-days active"></i> </li>
      <li> <i #weekView class="fa-solid fa-calendar-week disabled"></i> </li>
      <li (click)="changeCalendarDisplayMode('day')"> <i #dayView class="fa-solid fa-calendar-day"></i> </li>
    </ul>
    <ul>
      <!-- (click)="changeCalendarDisplayMode('event')" -->
      <li (click)="changeCalendarDisplayMode('today')"> <i #todayView class="fa-regular fa-calendar"></i></li>
      <li> <i #eventView class="fa-regular fa-calendar-check disabled"></i> </li>
    </ul>
  </div>
  <div class="calendar" #calendar>
    <div class="calendar-header">
      <button (click)="previousMonth()">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <h2>{{ currentMonth.year }} - {{ getMonthName(currentMonth.month) }}</h2>
      <button (click)="nextMonth()">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
    <div class="calendar-weekdays">
      <div *ngFor="let day of weekDays" class="weekday"> <div> {{day}} </div> </div>
    </div>
    <div class="calendar-days">
      <!-- start with empty cells  to match the starting day of the month with weekday -->
      <div *ngFor="let cell of emptyCellsBefore" class="calendar-day outside-month">
        {{ cell }}
      </div>

      <div
        *ngFor="let day of calendarData!.calendarDays"
        class="calendar-day"
        [class.selected]="day.isSelected"
        [class.today]="day.isToday"
        [class.has-event]="day.hasEvent"
        (click)="selectDay(day)"
      >
        <div > {{ day.date.getDate() }} </div>
      </div>
      <div *ngFor="let cell of emptyCellsAfter" class="calendar-day outside-month">
        {{cell}}
      </div>
    </div>
  </div>
</div>
<div class="calendar-single-day-wrapper" #calendarSingleDayWrapper>
  <!-- TODO: Choose next day from here / navigation -->
  <div> </div>
  <div class="calendar-single-day" *ngIf="selectedDate">
    <div class="calendar-selected-date-header">
      <button (click)="setSelectedDay(-1)"> <i class="fa-solid fa-chevron-left"></i> </button>
      <div> {{selectedDate.date.getDate()}}.{{selectedDate.date.getMonth()+1}}.{{selectedDate.date.getFullYear()}} </div>
      <button (click)="setSelectedDay(1)"> <i class="fa-solid fa-chevron-right"></i> </button>
    </div>
    <div class="time-slots">
      <div class="time-table-column times-column">
        <div *ngFor="let hourPerDay of selectedDate.hoursPerDay" class="time-table-row times-row">
          <div class="time-slot"> <div *ngIf="hourPerDay.dateTime.getMinutes() == 0"> {{ hourPerDay.dateTime.getHours() }} </div> </div>
        </div>
      </div>
      <div class="time-table-column events-column">
        <div  *ngFor="let hourPerDay of selectedDate.hoursPerDay; let i = index"
              class="time-table-row events-row"
              [class.hour-has-event]="hourPerDay.event && hourPerDay.event.id"
              [class.partOf-previous-event]="this.calendarService.checkIfPartOfPreviousEvent(i, selectedDate)"
              [style.height.px]="(hourPerDay.event && hourPerDay.event.id) ? hourPerDay.event.eventDuration-1 : null"
        >
          <div  class="event-slot"
                [class.empty-event-slot]="hourPerDay.event == null || hourPerDay.event!.id == null"
                [class.filled-event-slot]="hourPerDay.event && hourPerDay.event.id"
                (click)="selectEvent(hourPerDay)">
            <app-event-details
              *ngIf="this.calendarService.checkIfPartOfPreviousEvent(i, selectedDate) == false
              && hourPerDay.showEvent == true
              && hourPerDay.event ? !(hourPerDay.event.isAnonymousEvent) : false"
              [currentEvent]="hourPerDay.event ? hourPerDay.event : null"
              [currentEventDate]="hourPerDay"
              [currentCalendarDay]="selectedDate"
              (changeEventDetails)="changeEventDetails($event)"
            ></app-event-details>
            <div *ngIf="hourPerDay.event
                  && hourPerDay.event.id
                  && !(hourPerDay.event.isAnonymousEvent)"
                  style="height: 1rem; overflow: hidden; line-height: 1rem;"
            >
              {{hourPerDay.event.eventName}}
              <div>
                &nbsp; | &nbsp; {{calculateTime(hourPerDay.dateTime, 0)}} Uhr -
                {{calculateTime(hourPerDay.dateTime, hourPerDay.event.eventDuration)}} Uhr
              </div>
            </div>
            <div *ngIf="hourPerDay.event && hourPerDay.event.isAnonymousEvent"
                  style="height: 1rem; overflow: hidden; line-height: 1rem;"> Bereits blockiert</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
