<div #loginModalComponentWrapper class="login-modal-component-wrapper" id="login-modal-component-wrapper">
  <div #loginBackground class="login-background" id="login-background" (click)="hideLoginModal()"> </div>

  <div #loginModalWrapper class="login-modal-wrapper" id="login-modal-wrapper">
    <div class="login-modal">
      <div class="profile-icon-wrapper">
        <i class="fa-solid fa-user"></i>
      </div>
      <div class="login-header">
        Anmelden
      </div>
      <div class="login-description">
        Falls du keine Zugangsdaten hast, so kontaktiere mich bitte.
      </div>
      <form [formGroup]="loginForm" class="login-form-wrapper">
        <div>
          <input
            [class.wrong-credentials]="wrongCredentials"
            [class.disabled]="processingLogin"
            type="text" name="input-field" formControlName="username" placeholder="Benutzername">
        </div>
        <div>
          <input
            [class.wrong-credentials]="wrongCredentials"
            [class.disabled]="processingLogin"
            type="password" name="input-field" formControlName="password" placeholder="Passwort">
        </div>
        <div>
          <input #loginButton [class.disabled]="processingLogin" class="login-button"
            type="button" value="Einloggen" (click)="login()">
        </div>
        <div *ngIf="this.wrongCredentials" class="div-wrong-credentials">
          Wrong credentials
        </div>
      </form>
    </div>
  </div>
</div>
